<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Twitter admin UI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/css.css"/>
</head>
<body class="center-content">
    <h3> Twitter admin UI </h3>
    <div id="container">
        <!-- This element's contents will be replaced with your component. -->
    </div>
    <script  src="/js/bundle.js"></script>

</body>
</html>